// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$brand-color: #881732;

$text-color: #8e8e8e;
$hover-color: #600060;
$focus-color: rgb(255, 250, 250);

$btn-hover: #7d314c;

$bg-color: rgba(245,245,245,1);

