<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <%= form_tag(root_path, method: "get", class: "searchbar") do %>
      <%= text_field_tag :city, nil, placeholder: 'City', class: 'search-city' %>
      <%= text_field_tag :date, nil, placeholder: 'Category', "data-provide" => "datepicker" %>
      <%= submit_tag "Search", class: "search-btn" %>
    <% end %>
  </div>
</div>
