 <div class="row">
  <div class="col-sm-8 offset-sm-2">
    <%= form_tag(root_path, method: "get", class: "searchbar") do %>
      <%= text_field_tag :city, nil, placeholder: 'City', class: 'search-city' %>
      <%= select_tag(:category, '<option value="1">Occult & Esotericism</option><option value="2">True Crime</option><option value="3">Culture & History</option><option value="4">Catastrophies</option>'.html_safe) %>

      <%= submit_tag "Search", class: "search-btn" %>
    <% end %>
  </div>
</div>
