.cards {
  justify-content: space-between;
}

.card-activity {
  // height: 500px;
  width: 350px;
  display: flex;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // overflow: hidden;
  flex-direction: column;
}

.card-activity img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.card-activity-infos {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  * {
    padding: 8px;
  }
}

.card-activity-infos h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-activity p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-activity-pricing {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-activity-button {
  color: white;
  padding: 8px 24px;
  border-radius: 0 0 10px 10px;
  background: $brand-color;
  transition: background 0.3s ease;
  text-align: center;
}

.card-activity-button:hover {
  text-decoration: none;
  color: white;
}

@media (max-width: 1200px) {
  .cards {
    justify-content: space-around;
  }
}
