a:hover {
  text-decoration: none;
}

.cards {
  justify-content: space-between;

  p {
    &:first-child {
      margin: auto;
    }
  }

}

.card-activity {
  // height: 500px;
  width: 350px;
  display: flex;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // overflow: hidden;
  flex-direction: column;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
  &:hover{
    transform: scale(1);
    box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
  }

  h2 {
    font-size: 18px;

  }

  img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
  }

}

.card-activity-infos {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
  * {
    padding: 8px;
  }

  h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    a{
      color: #333;
      padding: 0;
    }
  }

}

.card-activity{

  p {
    font-size: 14px;
    opacity: .7;
    margin: 0;
  }

}

.card-activity-pricing {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-activity-button {
  color: white;
  padding: 8px 24px;
  border-radius: 5px;
  background: $brand-color;
  transition: background 0.3s ease;
  text-align: center;
}

.card-activity-button:hover {
  text-decoration: none;
  color: white;
}

.card-guide {
  margin-bottom: 30px;
  background-size: cover;
  background-position: center;
  height: 120px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  color: white;
  font-weight: bolder;
  //text-shadow: 0 0 10px rgba(0,0,0,0.7);
    transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
}

.card-guide:hover {
  color: white;
  font-size: 22px;


    transform: scale(1);
    box-shadow: 5px 20px 30px rgba(0,0,0,0.2);

}

@media (max-width: 1200px) {
  .cards {
    justify-content: space-around;
  }
}

